<div class="blog-masonry__item-author">
                <span class="blog-author-img">
                    <img src="http://lorempixel.com/40/40" alt="">
                </span>
    <span class="blog-masonry__author-text text-grey">
                    <div class="mb-10 "><p>Автор:</p></div>
                    <span class="blog-masonry__author-name">
                        Гоша Куций
                    </span>
                </span>
</div>