<div class="blog-index">
                <span class="blog-index__item">
                    <span class="blog-masonry__index-img">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="10" viewBox="0 0 16 10"><path fill="#999a9b" d="M15.97 4.72C14.89 2.16 11.47 0 8.5 0 5.54 0 2.1 2.19 1.04 4.78a.52.52 0 0 0 0 .44C2.1 7.82 5.51 10 8.5 10c3 0 6.36-2.16 7.43-4.72a.57.57 0 0 0 .07-.22v-.12c0-.1 0-.16-.03-.22zM8.5 7.25a2.22 2.22 0 0 1-2.28-2.19A2.22 2.22 0 0 1 8.5 2.88c1.28 0 2.29.96 2.29 2.18A2.22 2.22 0 0 1 8.5 7.25z"/></svg>
                    </span>
                    <span class="blog-index__item-count">320</span>
                </span>
                <span class="blog-index__item">
                    <span class="blog-masonry__index-img">
                        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="11" viewBox="0 0 13 11"><path fill="#999a9b" d="M1.63 0h9.75C12.27 0 13 .7 13 1.57v5.5a1.6 1.6 0 0 1-1.63 1.57H8.13L4.87 11V8.64H1.63C.73 8.64 0 7.94 0 7.07v-5.5C0 .71.73 0 1.63 0z"/></svg>                    </span>
                    <span class="blog-index__item-count">320</span>
                </span>
</div>