<div class="blog-masonry__item-wrapper blog-masonry__item-wrapper-big">
    <div class="blog-masonry__item blog-masonry__item-big">
        <div class="blog-masonry__item-header mb-60">
        <span class="blog-masonry__item-date">
            21.11.2016
        </span>
            <div class="blog-masonry__item-title">
                <p>Тибетские монахи
                    знают толк
                    в татуировках</p>
            </div>
        </div>
        <div class="blog-masonry__item-footer fx fx-justify fx-middle">
            {% include "blog-masonry-author.twig" %}
            {% include "blog-masonry-index.twig" %}
        </div>
    </div>
</div>