<div class="section-title-wrapper">
    <div class="section-title {% if color == 'white' %} text-white {% endif %}">
        <p>{{ title }}</p>
    </div>
    {% if type == 'subtitled' %}
        <div class="section-title__sub {% if color == 'white' %} text-white {% endif %}">
            <p>{{ subtitle }}</p>
        </div>
    {% endif %}
</div>