{% extends "layouts/app.twig" %}

{% block pageTitle %}Главная страница{% endblock %}

{% block content %}
    <div class="container">
        <input type="checkbox">
        <input type="radio">
        <a href="#" class="js-open-modal" data-open-modal="sample">modal</a>
        <div class="form-line mb20">
            <label>
                <input type="checkbox">
                <span class="fw-inline-block">Запомнить меня</span>
            </label>
        </div>

    </div>

{% endblock %}