<footer class="page-footer">
    <section class="page-footer__navbar mb-100">
        <div class="container">
            <div class="section-inner">
                <div class="page-footer__nav">
                    <ul class="page-footer__nav-list">
                        <li><a href="#">Главная</a></li>
                        <li><a href="#">Для мастеров</a></li>
                        <li><a href="#">Галерея</a></li>
                        <li><a href="#">Мастера</a></li>
                        <li><a href="#">Выбрать стиль</a></li>
                        <li><a href="#">Блог</a></li>
                        <li><a href="#">Услуги</a></li>
                        <li><a href="#">Вопрос-ответ</a></li>
                        <li><a href="#">Тех. поддержка</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="page-footer__contacts">
        <div class="container">
            <div class="section-inner">
                <div class="mb-80">
                    <div class="fz12 text-brand text-uppercase text-center mb-35">
                        <p>Узнавай обо всем первым! Присоединяйся к нам!</p>
                    </div>
                    <div class="page-footer__socials">
                    <span class="page-footer__socials-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="18" viewBox="0 0 32 18"><path
                                    fill="#fff"
                                    d="M28.42 12.55s2.58 2.43 3.22 3.55l.03.05c.26.42.32.74.2.98-.22.4-.95.6-1.2.61h-4.56c-.32 0-.98-.07-1.78-.6-.62-.41-1.23-1.09-1.82-1.74-.89-.98-1.65-1.83-2.42-1.83-.1 0-.2.02-.3.05-.58.17-1.32.97-1.32 3.09 0 .66-.55 1.03-.94 1.03h-2.09c-.7 0-4.42-.23-7.7-3.53C3.7 10.17.09 2.07.06 2c-.23-.53.24-.81.76-.81h4.6c.62 0 .82.35.96.67.17.37.77 1.83 1.76 3.48 1.6 2.68 2.59 3.77 3.37 3.77a.9.9 0 0 0 .43-.11c1.02-.54.83-4.03.78-4.75 0-.14 0-1.56-.52-2.25a2.3 2.3 0 0 0-1.41-.75c.1-.15.32-.37.6-.49.71-.34 1.98-.39 3.24-.39h.7c1.38.02 1.73.1 2.23.22 1 .23 1.02.85.93 2.96-.02.6-.05 1.28-.05 2.07v.56c-.04 1.08-.08 2.29.72 2.79.1.06.22.1.35.1.28 0 1.1 0 3.36-3.69a26.13 26.13 0 0 0 1.81-3.69c.05-.08.18-.3.34-.4a.82.82 0 0 1 .38-.08h5.42c.6 0 1 .08 1.07.3.13.34-.03 1.4-2.5 4.58l-1.1 1.39c-2.25 2.8-2.25 2.94.13 5.07z"/></svg>
                    </span>
                        <span class="page-footer__socials-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="29" viewBox="0 0 17 29"><path
                                    fill="#fff"
                                    d="M16.84 5.52H12.3c-.54 0-1.14.7-1.14 1.64v3.25h5.7l-.86 4.65h-4.84V29H5.77V15.06H.88v-4.65h4.89V7.68c0-3.92 2.74-7.1 6.52-7.1h4.55z"/></svg>
                    </span>
                        <span class="page-footer__socials-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="29" height="24" viewBox="0 0 29 24"><path
                                    fill="#fff"
                                    d="M25.95 6l.02.78c0 7.9-5.93 17.01-16.77 17.01A16.5 16.5 0 0 1 .16 21.1a11.73 11.73 0 0 0 8.73-2.47 5.92 5.92 0 0 1-5.51-4.16 5.8 5.8 0 0 0 2.66-.1 5.96 5.96 0 0 1-4.73-5.86v-.08c.8.45 1.7.72 2.67.75A6 6 0 0 1 2.16 1.2c2.9 3.62 7.25 6 12.15 6.25A5.93 5.93 0 0 1 20.05.11c1.7 0 3.23.72 4.3 1.89A11.9 11.9 0 0 0 28.1.55a6 6 0 0 1-2.6 3.3 11.4 11.4 0 0 0 3.4-.94c-.8 1.2-1.8 2.25-2.95 3.09z"/></svg>
                    </span>
                        <span class="page-footer__socials-item">
                         <svg xmlns="http://www.w3.org/2000/svg" width="30" height="29" viewBox="0 0 30 29"><path
                                     fill="#fff"
                                     d="M29.28 8.35a10.36 10.36 0 0 0-.67-3.45 6.83 6.83 0 0 0-1.66-2.51A6.88 6.88 0 0 0 24.41.75C23.29.33 22.1.11 20.92.09A100.4 100.4 0 0 0 15 0c-3.9 0-4.39.02-5.92.09-1.2.02-2.37.24-3.48.66-.96.35-1.83.91-2.55 1.64-.73.7-1.3 1.56-1.66 2.51a10.36 10.36 0 0 0-.66 3.45c-.07 1.52-.09 2-.09 5.86 0 3.86.02 4.34.09 5.86.02 1.18.25 2.34.66 3.45.36.95.93 1.81 1.66 2.52a6.97 6.97 0 0 0 2.55 1.63c1.11.42 2.29.64 3.48.67 1.53.06 2.02.08 5.92.08s4.4-.02 5.92-.08c1.2-.03 2.37-.25 3.49-.67a7.27 7.27 0 0 0 4.2-4.15c.42-1.11.64-2.27.67-3.45.07-1.52.08-2 .08-5.86 0-3.86-.01-4.34-.08-5.86zm-2.59 11.6c0 .9-.18 1.8-.5 2.64a4.74 4.74 0 0 1-2.72 2.7c-.85.31-1.75.48-2.67.49-1.5.07-1.96.08-5.8.08-3.83 0-4.29-.01-5.8-.08a8.08 8.08 0 0 1-2.67-.49 4.5 4.5 0 0 1-1.65-1.06 4.42 4.42 0 0 1-1.07-1.64 7.8 7.8 0 0 1-.5-2.64 97.6 97.6 0 0 1-.08-5.74c0-3.79.01-4.24.08-5.74.01-.9.18-1.8.5-2.64A4.3 4.3 0 0 1 4.88 4.2a4.4 4.4 0 0 1 1.65-1.07 8.08 8.08 0 0 1 2.67-.49c1.51-.07 1.97-.08 5.8-.08 3.84 0 4.3.01 5.8.08.92.01 1.82.18 2.67.49a4.4 4.4 0 0 1 1.65 1.07 4.3 4.3 0 0 1 1.08 1.63c.31.84.48 1.74.5 2.64.06 1.5.08 1.95.08 5.74s-.02 4.24-.09 5.74zM15 6.91a7.34 7.34 0 0 0-7.37 7.3c0 4.03 3.3 7.3 7.37 7.3a7.34 7.34 0 0 0 7.38-7.3c0-4.03-3.3-7.3-7.38-7.3zm0 12.04a4.76 4.76 0 0 1-4.79-4.74 4.76 4.76 0 0 1 4.8-4.74 4.76 4.76 0 0 1 4.78 4.74A4.76 4.76 0 0 1 15 18.95zm9.4-12.33c0 .95-.78 1.71-1.73 1.71s-1.72-.76-1.72-1.71c0-.94.77-1.7 1.72-1.7s1.72.76 1.72 1.7z"/></svg>
                    </span>
                        <span class="page-footer__socials-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="29" height="21" viewBox="0 0 29 21"><path
                                    fill="#fff"
                                    d="M14.64.42C.52.42.28 1.59.28 10.7c0 9.1.24 10.27 14.36 10.27C28.75 20.97 29 19.8 29 10.7 29 1.59 28.75.42 14.64.42zm4.6 10.72l-6.45 2.8c-.56.24-1.02-.03-1.02-.61V8.06c0-.57.46-.85 1.02-.6l6.45 2.79c.57.25.57.65 0 .89z"/></svg>
                    </span>
                    </div>
                </div>
                <div class="page-footer__copyright">
                    <span class="lh-1/5">
                        <span class="copyright-year">2016</span>
                    SELFCOLOR — сервис профессиональных мастеров <br>
                    Все права защищены
                    </span>
                </div>
            </div>
        </div>
    </section>
</footer>